<!-- flights/templates/flights/flights_per_hour.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Flights-competitors</title>
</head>
<body>
    <h1>Flights Arriving Each Hour</h1>

        {% if flight_details %}
        <h2>Your flight's details</h2>
        <ul>
            <li>Number: {{ flight_details.number }}</li>
            <li>To: {{ flight_details.to }}</li>
            <li>Date and time: {{ flight_details.datetime }}</li>
        </ul>
        {% endif %}

        <p> There are {{ flight_counts }} flights within an hour of your flight.
        We recommend to come to air point minimum {{ recommended_gap }} prior
         to your flight</p>
</body>
</html>
